@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sõpruse pst 182, <br />
    13424 Tallinn<br />
    <abbr title="Phone">P:</abbr>
    +3727392620
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aleksei.t@example.com">aleksei.t@example.com</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>